<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mengzhu.daily"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <!-- 开机 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 获取当前任务列表 -->
    <uses-permission android:name="android.permission.GET_TASKS"/> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DragListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddTaskActivity"
            android:label="@string/title_activity_add_task" >
        </activity>
        <activity
            android:name=".AddTimedActivity"
            android:label="@string/title_activity_add_timed" >
        </activity>

        <service android:name=".service.OnBootService" >
        </service>
        <service android:name=".service.MediaService" >
        </service>
        <service android:name=".service.CleanDataService" >
        </service>

        <receiver
            android:name=".receiver.OnBootReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.mengzhu.daily.receiver.AlarmReceiver" />
                <action android:name="com.mengzhu.daily.receiver.AlarmReceiver.Repeat" />
            </intent-filter>
        </receiver>
    </application>

</manifest>